// Helper Classes

.light-text { font-weight: 300 !important; }
.semibold-text { font-weight: 600 !important; }
.line-head {
	padding-bottom: 10px;
	border-bottom: 1.2px solid #9561e2;
	font-weight: bold;
	font-size: 16px;
}
